:root {
    --primary-color: #537BE5;
    --secondary-color: #CA3A61;
    --middle-color: #000000;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../font/Montserrat-Thin.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../font/Montserrat-ExtraLight.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../font/Montserrat-Light.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../font/Montserrat-Regular.ttf')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../font/Montserrat-Medium.ttf')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../font/Montserrat-SemiBold.ttf')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../font/Montserrat-Bold.ttf')
}

* {
    margin: 0;
    padding: 0
}

body{
    font-family: 'Montserrat';
}